### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Build folders ###
.gradle
bin
build
target
out
classes
!gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache


### IntelliJ IDEA ###
.idea
*.iml
*.ipr
*.iws
.idea/workspace.xml

### Runtime Files ###
logs

### MAC File ###
*.DS_Store



